
 .history-item {
    background: #183E83;
    border-radius: 20px;
    display: flex;
    height: 72.5px;
    width:  auto;
    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

.empty-space {
    height: 80px;
}

.when-no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}

.when-no-result > span {
    color: #999999;
    font: Arial, Helvetica, sans-serif;
    font-size: 16px;
}