{% extends './snippets/appBar-and-bottomBar.html' %}

{% comment %} Page title {% endcomment %}
{% block title %}Diagnose{% endblock %}

{% comment %} appBar title {% endcomment %}
{% block appBarTitle %}Diagnose{% endblock %}

{% comment %} appBar action {% endcomment %}
{% block appBarAction %}
{% load static %}
<a href="{% url 'dashboard' %}">
	<img id='btn_back' src="{% static 'images/appBar-and-bottomBar/appBar-twisted-back-icon.png' %}">
</a>
{% endblock %}

{% comment %} included css and javascript {% endcomment %}
{% block file %}
{% load static %}
{% endblock %}

{% comment %} disable bottomBar {% endcomment %}
{% block bottomBar %}{% endblock %}

{% comment %} body preload {% endcomment %}
{% block preload %}{% endblock %}

{% comment %} body content {% endcomment %}
{% block content %}
{% load static %}

{% endblock %}